* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /*cores*/
    --cinza: #111111;
    --roxo: #3739FF;
    --amarelo: #FAD846;
    --branco: #ffff;
    /*fontes*/
    --fonte1: 'Gilroy';
    --fonte2: 'Mulish';
}

body {
    display: flex;
    background-color: var(--cinza);
}


/*HEADER*/

.menu {
    background-color: var(--cinza);
    height: 100vh;
    width: 260px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.margem-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 95px;
    width: 95px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte2);
}

nav a:hover {
    color: var(--amarelo);
}

.redes-sociais {
    display: flex;
    align-items: center;
    width: 260px;
    justify-content: space-around;
}


/*sessoes geral*/

main {
    width: 100%;
    margin-left: 260px;
}

.margin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*SESSAO 1*/

.apresentacao {
    background-color: var(--roxo);
    height: 100vh;
}

.apresentacao h1 {
    font-family: var(--fonte1);
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    color: var(--branco);
    text-align: center;
    width: 984px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resumo {
    display: flex;
    width: 984px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 255px;
    margin-left: 23px;
}

.info span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
    font-family: var(--fonte2);
    text-transform: uppercase;
}

.info p {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: var(--branco);
    font-family: var(--fonte1);
    margin-bottom: 13px;
}

.btn-quemsou a {
    width: 195px;
    height: 60px;
    color: var(--branco);
    font-family: var(--fonte2);
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    border: 1.5px solid #FFFFFF;
    border-radius: 13px 0px;
    padding: 14px;
}


/*SESSAO 2*/

.trabalhos {
    height: 100vh;
}

.trabalhos h2 {
    color: var(--branco);
    font-family: var(--fonte1);
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    height: 670px;
    width: 580px;
    border: 2.5px solid #3739FF;
    border-radius: 30px 0px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 501px;
    height: 418.56px;
    margin: 31px;
}

.cabecalho-card {
    margin-left: 31px;
}

.cabecalho-card h3 {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: var(--branco);
    font-family: var(--fonte1);
    margin-bottom: 13px;
}

.topicos {
    margin-bottom: 13px;
}

.card-span {
    color: var(--branco);
    font-family: var(--fonte2);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--roxo);
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
}

.cabecalho-card a {
    color: var(--branco);
    font-family: var(--fonte1);
    text-decoration: underline 3px;
}


/*carrosel*/

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 1421px;
    height: auto;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.card {
    margin: 20px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #11111100;
    border: none;
    cursor: pointer;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}