* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*cores*/
    --cinza: #111111;
    --roxo: #3739FF;
    --amarelo: #FAD846;
    --branco: #ffff;
    --preto: #000;
    /*fontes*/
    --fonte1: 'Gilroy';
    --fonte2: 'Mulish';
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--preto);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--roxo);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--preto);
    /* creates padding around scroll thumb */
}

body {
    display: flex;
    background-color: var(--cinza);
    overflow-x: hidden;
}


/*HEADER*/

.menu {
    background-color: var(--preto);
    height: 100vh;
    width: 260px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.margem-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 95px;
    width: 95px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte2);
}

nav a:hover {
    color: var(--amarelo);
}

.redes-sociais {
    display: flex;
    align-items: center;
    width: 260px;
    justify-content: space-around;
}

svg:hover path {
    fill: var(--amarelo);
}


/*sessoes geral*/

main {
    width: 100%;
    margin-left: 260px;
}

.margin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*SESSAO 1*/

.apresentacao {
    background-color: var(--roxo);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao h1 {
    font-family: var(--fonte1);
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    color: var(--branco);
    text-align: center;
    width: 984px;
    margin-bottom: 40px;
}

.resumo {
    display: flex;
    width: 984px;
}

.resumo img {
    width: 550px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 255px;
    margin-left: 23px;
}

.info span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
    font-family: var(--fonte2);
    text-transform: uppercase;
}

.info p {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: var(--branco);
    font-family: var(--fonte2);
    margin-bottom: 13px;
}

.btn-quemsou a {
    width: 195px;
    height: 60px;
    color: var(--branco);
    font-family: var(--fonte2);
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    border: 1.5px solid #FFFFFF;
    border-radius: 13px 0px;
    padding: 14px;
    transition: 0.25s;
}

.btn-quemsou a:hover {
    background-color: var(--branco);
    color: var(--roxo);
}


/*SESSAO 2*/

.trabalhos {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.introducao h2 {
    color: var(--branco);
    font-family: var(--fonte1);
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}

.introducao p {
    color: var(--branco);
    font-family: var(--fonte2);
    text-align: center;
    padding-top: 8px;
    width: 900px;
}

.card {
    height: 426px;
    border: 2.5px solid #3739FF;
    border-radius: 30px 0px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.card img {
    width: 255px;
    height: 213px;
    margin: 31px;
}

.cabecalho-card {
    margin-left: 31px;
}

.cabecalho-card h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 37px;
    color: var(--branco);
    font-family: var(--fonte2);
    margin-bottom: 13px;
}

.topicos {
    margin-bottom: 20px;
    margin-top: 13px;
}

.card-span {
    color: var(--branco);
    font-family: var(--fonte2);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--roxo);
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
}

.cabecalho-card a {
    color: var(--branco);
    font-family: var(--fonte2);
    text-decoration: underline 3px;
    cursor: pointer;
    font-weight: 900;
    line-height: 20px;
}

.cabecalho-card a:hover {
    color: var(--roxo);
}


/*SESSAO 3*/

.mentorias {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introducao-mentoria{
    padding-bottom: 40px;
}

.introducao-mentoria h4 {
    color: var(--branco);
    font-family: var(--fonte1);
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}

.introducao-mentoria p{
    color: var(--branco);
    font-family: var(--fonte2);
    text-align: center;
    padding-top: 8px;
    width: 900px;

}

.feed-cards {
    display: flex;
}

.cabecalho h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 37px;
    color: var(--branco);
    font-family: var(--fonte2);
    margin-bottom: 13px;
    margin-top: 13px;
}

.cabecalho p {
    color: var(--branco);
    font-family: var(--fonte2);
    line-height: 25px;
    text-align: justify;

}


.card_mentoria {
    width: 650px;
    height: auto;
    border: 2.5px solid #3739FF;
    border-radius: 30px 0px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    padding: 30px;
}

.card_mentoria img {
    width: 255px;
    height: 213px;
    margin: 31px;
}

.topicos {
    margin-bottom: 13px;
}

.card-span {
    color: var(--branco);
    font-family: var(--fonte2);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--roxo);
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
}

.cabecalho-card a {
    color: var(--branco);
    font-family: var(--fonte2);
    text-decoration: underline 3px;
    cursor: pointer;
    font-weight: 900;
    line-height: 20px;
}

.cabecalho-card a:hover {
    color: var(--roxo);
}



/*carrosel*/

.carrosel-completo {
    margin: 0 auto;
}

.carousel-container {
    position: relative;
    width: 325px;
    height: auto;
}

.carousel {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.tamanho {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 80vh;
    margin: 0 auto;
    padding: 50px 0;
}

.carousel-button {
    transform: translateY(-20%);
    background-color: #11111100;
    border: none;
    cursor: pointer;
}


/*MODAL*/

/* .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; */
    /* depending on what z-index values exist in your page, in order for the modal layer to sit on top of other content */
    /* enable scrolling if needed - although this is not really necessary since we are going take care of overflow in modal-content */
    /* background-color: rgba(0, 0, 0, 0.8);
}

.modal.modal-show {
    animation: fadeIn 0.1s ease-in-out forwards;
}

.modal.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.modal-content {
    position: relative;
    background-color: var(--cinza);
    color: var(--branco);
    padding: 2rem;
    border-radius: 0.25rem;
    height: 50%;
    width: 50%;
}

.modal.modal-show .modal-content {
    animation: fadeInDown 0.3s ease-in-out forwards;
}

.modal.modal-hide .modal-content {
    animation: fadeOutUp 0.2s ease-in-out forwards;
}

.modal-content h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--fonte1);
}

.modal-content p {
    margin: 1rem 0;
    line-height: 1.5rem;
    font-family: var(--fonte2);
    text-align: center;
}

.fechar {
    text-align: end;
}

.modal-close {
    font-size: 6.75rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--roxo);
} */
